*{
  padding: 0px;
  margin: 0px;
}
body{
  background: rgb(57, 43, 107);
}
table{
  border-collapse: collapse;
    width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th{
  background: rgb(160, 90, 90);
}

.statusButon:hover{
  background: rgb(53, 132, 156);
}
.calificacionIndiPos{
  background: rgb(90, 160, 111);
}
.calificacionIndiNeu{
  background: rgb(160, 121, 90);
}
.calificacionIndiNeg{
  background: rgb(185, 72, 72);
}