*{
  padding: 0px;
  margin: 0px;
}
body{
  background: rgb(57, 43, 107);
}
table{
  border-collapse: collapse;
    width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th{
  background: rgb(160, 90, 90);
}

.statusButon:hover{
  background: rgb(53, 132, 156);
}
.calificacionIndiPos{
  background: rgb(42, 128, 67);
}
.calificacionIndiNeu{
  background: rgb(143, 89, 46);
}
.calificacionIndiNeg{
  background: rgb(179, 26, 26);
}