*{
  padding: 0px;
  margin: 0px;
}
body{
  background: rgb(57, 43, 107);
}
table{
  border-collapse: collapse;
    width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
/*
.statusButon{
  background: rgb(53, 132, 156);
  width: max-content;
  height: max-content;
}
*/